@import './index.css';
#root{
    width: 100vw;
    height: 100vh;
}

.gradient-background{
    background: linear-gradient(#09101f, #031740);
}

.active-button{
    background-color: var(--primary);
}

.card-background{
    background-color: var(--card-background);
}
